/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-radius: 90;
    -fx-font-family: "Arial", Helvetica, sans-serif;
}

/* Botão laranja */
.btNovoJogo, .btJogoSalvo, .btRank {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 15;
    -fx-text-fill: #fdfdf3;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-border-width: 2;
    -fx-border-color: #ffdea1;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}

/* Botão laranja */
.btNovoJogo:hover, .btJogoSalvo:hover, .btRank:hover {
    -fx-background-color: 
        linear-gradient(#f9c835, #ca7503),
        linear-gradient(#f8e358, #ebae2e),
        linear-gradient(#f8de3d, #d28d06),
        linear-gradient(#f8db35 0%, #e7b607 50%, #e1990b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-border-color: #f6cb7c;
}

.lbBoasVindas {
    -fx-text-fill: #4fa0c2;
    -fx-font-size: 18; 
}

.lbUsername {
    -fx-text-fill: #5cb6dc;
    -fx-font-size: 24; 
}

/* Botão close laranja/vermelho */
.btHelp {
    -fx-background-image: url('../images/bt_help.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btHelp:focused, .btHelp:hover {
    -fx-background-image: url('../images/bt_help_focus.png');
}

/* Botão close laranja/vermelho */
.btClose {
    -fx-background-image: url('../images/bt_close.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btClose:focused, .btClose:hover {
    -fx-background-image: url('../images/bt_close_focus.png');
}
