/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-radius: 90;
    -fx-font-family: "Arial", Helvetica, sans-serif;
}

.btPrev {
    -fx-background-image: url('../images/bt_prev.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btPrev:focused, .btPrev:hover {
    -fx-background-image: url('../images/bt_prev_focus.png');
}

.btHelp {
    -fx-background-image:url('../images/bt_help.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btHelp:focus, .btHelp:hover {
    -fx-background-image: url('../images/bt_help_focus.png');
}

.btClose {
    -fx-background-image: url('../images/bt_close.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btResponder {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 15;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-border-width: 2;
    -fx-border-color: #ffdea1;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}

.btResponder:focused, .btResponder:hover {
    -fx-background-color: 
        linear-gradient(#f9c835, #ca7503),
        linear-gradient(#f8e358, #ebae2e),
        linear-gradient(#f8de3d, #d28d06),
        linear-gradient(#f8db35 0%, #e7b607 50%, #e1990b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-border-color: #f6cb7c;
}

.btClose:focused, .btClose:hover {
    -fx-background-image: url('../images/bt_close_focus.png');
}

.lbJogador {
    -fx-text-fill: #fffcd6;
    -fx-font-weight: bold;
    -fx-font-size: 16; 
}

.lbPontuacao {
    -fx-text-fill: #fffcd6;
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-line-height: 30;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 2, 5);
}

.lbTempo {
    -fx-text-fill: #89c6d9;
    -fx-font-weight: bold;
    -fx-font-size: 14; 
}

.lbTempoNumb {
    -fx-text-fill: #89c6d9;
    -fx-font-weight: bold;
    -fx-font-size: 28;
}

.btRoda {
    -fx-background-image: url('../images/bt_roda_a_roda.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btRoda:focused, .btRoda:hover {
    -fx-background-image: url('../images/bt_roda_a_roda_focus.png');
}

.btLetra {
    -fx-background-color:#1782b0;
    -fx-background-radius: 0;
    -fx-text-fill: #004e73;
    -fx-font-weight: bold;
    -fx-font-size: 35px; 
    -fx-cursor: hand;
    -fx-padding: -5 -5 -5 -5;
}

.btLetra:pressed, .btLetra:focused, .btLetra:hover, .btLetra:disabled {
    -fx-background-color:#e3e3e3;
}

.lbDica {
    -fx-text-fill: #89c6d9;  
    -fx-font-weight: bold;
    -fx-font-size: 26;
}